# Sample format
# Fill in blank and set filename to .env

DB_USER=test_user
DB_PASSWORD=12345
DB_NAME=codereview_db
JWT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=http://localhost:8000/api/login
GEMINI_API_KEY=

# Set the publicly hosted domain here. For example, if you used ngrok to 
# setup the url ($> ngrok http 8000), you can paste the url that it presented
# Ex: https://abc.ngrok-free.dev (Only paste the https url)
DOMAIN=
