body {
    margin: 0;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
}

h1 {
    text-align: center;
}

.navbar {
    display: flex;
    width: 100%;
}

.navbar h1 {
    flex: 8;
}

.navbar #logout-button {
    display: flex;
    flex: 1;
    align-items: center;
}

.navbar button {
    height: 50%;
    margin-right: 10px;
}

.centered-elem {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 20px;
    border: solid 2px white;
    height: 80px;
    width: 200px;
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: rgb(80, 86, 80);
    transition: 0.5s ease;
}

.navbar button:hover {
    transform: none;
}

button:hover {
    background-color: rgb(182, 182, 181);
    transform: translateY(-10%);
}

